%h3 Your Shopping Cart
%br/
= link_to "View All Products", products_path 
%table 
	%tr 
		%th Product
		%th Description
		%th Price
		%th Date Added to Cart
	-@cart_items.each do |item|
		%tr 
			%td= item.product.name
			%td= item.product.description 
			%td= item.product.retail_price
			%td= item.created_at
	%tr 
		%td{:colspan => "%4"}= button_to("Place Order", place_order_path(@user), :method => :get)
%br/ 
 
= link_to "Empty Shopping Cart", clear_cart_path() #, :data => {:confirm => 'Are you sure?'}