-if @can_place_order
	-display_btn_attr = {}
-else
	-display_btn_attr = {:disabled => "disabled"}
%h3 Your Shopping Cart
%br/ 
%table{:class => "frm"}
	%tr 
		%th Product
		%th Description
		%th Price
		%th Date Added to Cart
	-if @cart_items.length < 1
		%tr
			%td.alert{:colspan => "4"} There currently aren't any items in your cart. 
	-@cart_items.each do |item|
		%tr 
			%td= item.product.name
			%td= item.product.description 
			%td= to_dollars(item.product.retail_price)
			%td= item.created_at
	%tr 
		%td{:colspan => "4"} &nbsp;
	%tr 
		%td{:colspan => "4", :style => "text-align: center"}= button_to("Place Order", place_order_path(@user), {:method => :get}.merge(display_btn_attr))
%br/ 
 
= link_to "Empty Shopping Cart", clear_cart_path(), :style => "color: #f85164" unless @cart_items.length < 1