%h3= "Order History for #{@customer.last_name+', '+@customer.first_name}"
-if @customer.orders.length < 1
	.alert You have no previous orders. 
-@customer.orders.each do |order|
	%div= "Order ##{order.id} made on #{order.created_at}"
	%table{:class => "table table-bordered table-striped"}
		%thead 
			%tr 
				%th Product
				%th Description
				%th Price
		-order.order_items.each do |order_item|
			%tr 
				%td= order_item.product.name
				%td= order_item.product.description
				%td= to_dollars(order_item.product.retail_price)
	%br/ 	