%h3 View All Orders
-if @orders.length < 1
	.alert There aren't any orders.
-@orders.each do |order|
	= link_to("Order "+order.id.to_s, order_path(order))
	= " made on #{order.created_at}, by #{order.customer.last_name}, #{order.customer.first_name}"
	%table{:class => "table table-bordered table-striped"} 
		%thead 
			%tr 
				%th Customer
				%th Product
				%th Description
				%th{:style => "width: 100px"} Cost
				%th{:style => "width: 100px"} Retail Price
		-order.order_items.each do |order_item|
			%tr 
				%td= order.customer.last_name+", "+order.customer.first_name
				%td= order_item.product.name
				%td= order_item.product.description
				%td= to_dollars(order_item.product.wholesale_cost)
				%td= to_dollars(order_item.product.retail_price)