%h3 Listing Product Categories
%table{:class => "frm"}
  -if @product_categories.length < 1
    %tr 
      %td.alert{:colspan => "2"} Currently there aren't any product categories defined.
  - @product_categories.each do |product_category|
    %tr
      %td= product_category.name
      %td{:style => "width: 25%"}
        -if @admin
          = link_to 'Edit', edit_product_category_path(product_category)
          = link_to 'Destroy', product_category, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -else
          = link_to 'Products', list_by_category_path(product_category)
%br

= link_to 'New Product category', new_product_category_path
